<%- include('layouts/header') %>  

<div class="container mt-4">
    <h3 class="mt-4">Tambahkan Kontak</h3>  
     <!-- Display validation errors -->  
     <% if (errors && errors.length > 0) { %>  
      <div style="color: red;">  
          <ul>  
              <% errors.forEach(error => { %>  
                  <li><%= error.msg %></li>  
              <% }); %>  
          </ul>  
      </div>  
  <% } %>  
    <form action="/add" method="POST" class="mb-3">  
        <div class="input-group">  
            <input type="text" name="name" class="form-control" placeholder="Masukkan nama" required>  
            <input type="text" name="mobile" class="form-control" placeholder="Masukkan nomor telepon" required>    
            <input type="text" name="email" class="form-control" placeholder="Masukkan alamat email" required>    
            <div class="input-group-append">  
                <button class="btn btn-primary" type="submit">
                  <i class="bi bi-person-add"></i>
                  </button>  
            </div>  
        </div>  
    </form>    
    <h3>Daftar Kontak</h3>  
    <table class="table table-striped">  
        <thead class="thead-dark">  
            <tr>  
                <th>Nama</th>  
                <th>Nomor Telepon</th>  
                <th>Email</th>  
                <th>Aksi</th>  
            </tr>  
        </thead>  
        <tbody>  
            <% tasks.forEach(task => { %>  
            <tr>  
                <td><%= task.name %></td>  
                <td><%= task.mobile %></td>  
                <td><%= task.email %></td>  
                <td>  
                    <!-- Link to the edit page -->  
                    <a href="/edit/<%= task.id %>" class="btn btn-warning">
                      <i class="bi bi-pencil-square"></i></a>  

                    <!-- Delete Form -->  
                    <form action="/delete/<%= task.id %>" method="POST" class="d-inline">  
                        <button type="submit" class="btn btn-danger">
                          <i class="bi bi-x-circle"></i>
                          </button>  
                    </form>  
                </td>  
            </tr>  
            <% }); %>  
        </tbody>  
    </table>  
    
</div>  
<%- include('layouts/footer') %>  

