<!-- views/edit.ejs -->  
<%- include('layouts/layout') %>  
<main class="container">  
    <h1><%= title %></h1>  
    <form action="/edit/<%= tasks.id %>" method="POST">  
        <div class="mb-3">  
            <label for="task" class="form-label">Task Name</label>  
            <input type="text" class="form-control" id="task" name="task" value="<%= tasks.name %>" required>  
        </div>  
        <div class="mb-3">  
            <label for="task" class="form-label">Task Name</label>  
            <input type="text" class="form-control" id="task" name="task" value="<%= tasks.mobile %>" required>  
        </div>
        <div class="mb-3">  
            <label for="task" class="form-label">Task Name</label>  
            <input type="text" class="form-control" id="task" name="task" value="<%= tasks.email %>" required>  
        </div>
        <button type="submit" class="btn btn-primary">Update Task</button>  
        <a href="/" class="btn btn-secondary ">cancel</a>
    </form>  
</main>