<%- include('layouts/header') %>  


<div class="container mt-4">  
    <form action="/edit/<%= task.id %>" method="POST">  
        <div class="form-group">  
            <label for="name">Nama</label>  
            <input type="text" class="form-control" id="name" name="name" value="<%= task.name %>" required>  
        </div>
        <br>  
        <div class="form-group">  
            <label for="mobile">Nomor Telepon</label>  
            <input type="text" class="form-control" id="mobile" name="mobile" value="<%= task.mobile %>" required>  
        </div>  
        <br>
        <div class="form-group">  
            <label for="email">Email</label>  
            <input type="text" class="form-control" id="email" name="email" value="<%= task.email %>" required>  
        </div>  
        <br>
        <button type="submit" class="btn btn-primary">Update Contact</button>  
        <a href="/contact" class="btn btn-secondary">Cancel</a>  
    </form>  
</div>  

